{{#each dropdownGroups as |group|}}
  <div>
    <h4>{{group.name}}</h4>
    {{tag-selector
      allowedTags=group.tags
      currentCategory=category
    }}
  </div>
{{/each}}

{{#each boxGroups as |group|}}
  <div>
    <h4>{{group.name}}</h4>
    <ul style="margin: 0; display: flex;">
      <li style="list-style: none; display: flex; background: hsl(215, 40%, 35%); margin-right: 0.6em; padding: 0.6em;">
        <a href="/c/{{category.slug}}/{{category.id}}" style="color: #fff;">
          all
        </a>
      </li>

      {{#each group.tags as |tag|}}
        <li style="list-style: none; display: flex; background: hsl(215, 40%, 35%); margin-right: 0.6em; padding: 0.6em;">
          <a href="/tags/c/{{category.slug}}/{{category.id}}/{{tag.id}}" style="color: #fff;">
            {{tag.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}
