{{#each dropdownGroups as |dg| }}
  <div>
   <h4>{{dg.name}}</h4>
    <!-- combo box here -->
  {{combo-box content=dg.tag_names value="broken" }}
  </div>
{{/each}}


{{#each boxGroups as |bg|}}
  <div>
       <h4>{{bg.name}}</h4>

    <ul>

      <li>
        <a href="/c/{{category.slug}}/{{category.id}}">
          all
        </a>
      </li>
      
      {{#each bg.tag_names as |t|}}
        <li>
          <a href="/tags/c/{{category.slug}}/{{category.id}}/{{t}}">
            {{t}}
          </a>
        </li>
      {{/each}}

    </ul>
  </div>
{{/each}}
