{{#if boxGroups}}
  <div class="custom-box-groups">
    {{#each boxGroups as |group|}}
      <div class="custom-box-group">
        <h4>{{group.name}}</h4>

        <ul>
          <li id="box-all">
            <a href="/c/{{category.slug}}/{{category.id}}">
              all
            </a>
          </li>

          {{#each group.tags as |tag|}}
            {{box-tag tag=tag category=category}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if dropdownGroups}}
  <div class="custom-dropdown-groups">
    {{#each dropdownGroups as |group|}}
      <div class="custom-dropdown-group">
        <h4>{{group.name}}</h4>

        {{tag-selector
          allowedTags=group.tags
          currentCategory=category
          tag=tag
        }}
      </div>
    {{/each}}
  </div>
{{/if}}
