{{#if boxGroups}}

  <div class="custom-box-groups">

    {{#each boxGroups as |group|}}
      <div class="custom-box-group">
        <h4>{{group.name}}</h4>
        <ul style="margin: 0; display: flex;">
          <li id="box-all">
            <a href="/c/{{category.slug}}/{{category.id}}">
              all
            </a>
          </li>

          {{#each group.tags as |tag|}}
            <li id="box-{{tag.id}}" >
              <a href="/tags/c/{{category.slug}}/{{category.id}}/{{tag.id}}">
                {{tag.name}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}

  </div>

{{/if}}

{{#if dropdownGroups}}
  <div class="custom-dropdown-groups">

    {{#each dropdownGroups as |group|}}
      <div class="custom-dropdown-group">
        <h4>{{group.name}}</h4>
        {{tag-selector
          allowedTags=group.tags
          currentCategory=category
          tag=tag
        }}
      </div>
    {{/each}}

  </div>

{{/if}}