{{#if this.boxGroups}}
  <div class="custom-box-groups">
    {{#each this.boxGroups as |group|}}
      <div class="custom-box-group">
        <h4>{{group.name}}</h4>

        <ul>
          {{box-tag
            tag=(hash name="all")
            activeTag=this.tag
            category=this.category
          }}

          {{#each group.tags as |tag|}}
            {{box-tag tag=tag activeTag=this.tag category=this.category}}
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if this.dropdownGroups}}
  <div class="custom-dropdown-groups">
    {{#each this.dropdownGroups as |group|}}
      <div class="custom-dropdown-group">
        <h4>{{group.name}}</h4>

        {{tag-selector
          allowedTags=group.tags
          currentCategory=this.category
          tag=this.tag
        }}
      </div>
    {{/each}}
  </div>
{{/if}}