{{#each dropdownGroups as |group|}}
  <div>
    <h4>{{group.name}}</h4>
    <!-- combo box here -->
    {{combo-box content=group.tag_names value="broken"}}
  </div>
{{/each}}

{{#each boxGroups as |group|}}
  <div>
    <h4>{{group.name}}</h4>
    <ul>
      <li>
        <a href="/c/{{category.slug}}/{{category.id}}">
          all
        </a>
      </li>

      {{#each group.tag_names as |name|}}
        <li>
          <a href="/tags/c/{{category.slug}}/{{category.id}}/{{name}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}
